<div class="container">
  <div class="d-flex px-4 py-2 justify-content-between align-items-center">
    <h1 class='text-center'><%= @sweepstake.name %></h1>
    <%= render 'participants/new' %>
  </div>
  <div class="row">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <%= link_to 'Classificação', sweepstake_path(@sweepstake), class:"nav-link active", aria_current: "page"  %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Partidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="row mt-3">
    <% @competitors.each do |group, competitors| %>
      <div class="col-3 mb-3">
        <p class="px-4 py-2 mb-0 border rounded bg-white">Group <%= group %></p>
        <ol class="list-group list-group-numbered">
          <% competitors.each do |competitor| %>
            <li class="list-group-item d-flex justify-content-between align-items-start border-top-0">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><%= competitor.name %></div>
                Cras justo odio
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
