<div class="row justify-content-center">
  <div class="col-8">
    <div class="px-3 py-2 border rounded my-3">
      <p class="mb-2 text-muted">
        Group <%= match.group %>
      </p>
      <div class="row">
        <%= render 'matches/index/teams', match: match %>
        <div class="col-4">
          <%= simple_form_for [match, match_bet], html: { class: 'row' } do |f| %>
            <div class="col-6">
              <div class="mb-3">
                <%= f.input :home_score, label: 'Home', input_html: { min: 0, step: 1 } %>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <%= f.input :away_score, label: 'Away', input_html: { min: 0, step: 1 } %>
              </div>
            </div>
            <div class="col-12 text-center">
              <%= f.submit %>
            </div>
          <% end %>
        </div>
        <%= render 'matches/index/local_date', match: match %>
      </div>
    </div>
  </div>
</div>
