<div class="row justify-content-center">
  <div class="col-8">
    <div class="px-3 py-2 border rounded my-3">
      <p class="mb-2 text-muted">
        Group <%= match.group %>
      </p>
      <div class="row justify-content-center">
        <%= render 'matches/index/teams', match: match %>
        <div class="col-4 text-center"
             data-controller='display-match-bet-form'
             data-display-match-bet-form-match-id-value="<%= match.id %>"
             data-display-match-bet-form-match-bet-id-value="<%= current_user.participant.match_bet(match).id %>">
          <% if MatchBet.already_bet?(match, current_user.participant) %>
            <button class="btn btn-secondary"
                    data-display-match-bet-form-target='btn'
                    data-action='click->display-match-bet-form#openForm'>
              update bet?
            </button>
            <div data-display-match-bet-form-target='display'></div>
          <% else %>
            <%= render 'match_bets/form', match: match, match_bet: current_user.participant.match_bet(match) %>
          <% end %>
        </div>
        <%= render 'matches/index/local_date', match: match %>
      </div>
    </div>
  </div>
</div>
<% if false %>
  <%= render 'match_bets/form', match: match, match_bet: current_user.participant.match_bet(match) %>
<% end %>
